body {
  margin: 50px;
  padding: 40px;

}

h1 {
  font-weight: bold;
  font-family: sans-serif;
}

.jumbotron {
  padding-top: 70px;
  text-align: center;
}

label {
  margin: 5px
}

#submit {
  margin-top: 20px;
}
