body {
  margin: 50px;
  padding: 40px;
}

.container {
  margin-top: 20px;
  background-color: #D4D4D4
  padding-bottom: 30px;
  max-width: 850px;
}

h1 {
  font-weight: bold;
  font-family: sans-serif;
}

p {
  font-size: 16px;
  font-weight: bold;
}

.jumbotron {
  padding-top: 70px;
  text-align: center;
}

label {
  margin: 5px
}

#submit {
  margin-top: 20px;
}
